<div class="test">
    <p>home works!</p>
    <h2>Hello {{name}}!</h2>
    <input type="text" value="{{name}}">
    <input type="text" [value]="name" [title]='"day la " + name'>
    <input type="text" [(ngModel)]="age">
    <!--  <h2 *ngIf="age<18">Dưới 18</h2>
    <h2 *ngIf="age>=18">Trên 18</h2> -->
    <div *ngIf="age< 18 then young else old"> </div>
    <ng-template #young>Dưới 18</ng-template>
    <ng-template #old="age>=18">Trên 18</ng-template>
    <button (click)="resetName()">Reset Name</button>
</div>